body{background:#F7F7F7;}
body .g_box .con{padding:0px;}
.hd {
	height:57px;
	border-bottom:solid 1px #E3E3E3;
	background:#FAFAFA;
	line-height:57px;
	min-width:880px
}
.hd img {
	vertical-align:middle;
	padding-top:11px
}
.hd span {
	float:right;
	color:#9E9E9E
}
.mdiv{background:url(/images/login_bg.jpg) repeat-x 0px 0px;}
.wp {
	width:880px;
	margin:0 auto
}
.loginwp {
	background:url(/images/login_l.jpg) no-repeat 0 140px;
	overflow:hidden;
	width:771px
}
.loginwp .loginbar {
	width:347px;
	float:right;
	margin-top:80px
}
.loginwp .loginbar .c {
	height:208px;
	border:solid 1px #9B221A;
	border-width:0 1px;
       background-color:#ffffff;
}
.loginwp .loginbar .b{_margin-top:-1px}
.loginwp .loginbar .c .txt{ height:24px; line-height:24px; text-indent:6px; border:solid 1px #C5C5C5;border-radius:3px; width:188px;*float:left}
.loginwp .loginbar .c .txtcode{width:94px}
.loginwp .loginbar .c .btn{background:url(/images/login_btn.jpg) no-repeat; width:88px; height:31px; cursor:pointer; border:none}
.loginwp .loginbar .c img{ height:26px; width:85px; vertical-align:middle; cursor:pointer}
.loginwp .loginbar .c .err{ color:#9B221A}
.loginwp .loginbar .c td{ padding:5px}
.loginwp .loginbar .c td.c1{ width:96px; text-align:right}