.g-wrap { margin:1px; border:#004B91 solid 1px; min-height:50px; }html {overflow:hidden;}
body, ul, li, form, h3  { margin:0; padding:0; }
h3 {
    font-size: 100%;
}
body { font:12px/1.5em Arial, Tahoma; color:#111; }
ul, ol { list-style:none;}
a { text-decoration:none; color:#2575b8; vertical-align:baseline; }
a:hover { text-decoration:underline; color:#9b221a; }
.g_dn {display:none;}
/* top */
.g-head { height:60px; background-color:#02A2EE; position:relative;}
.g-head .logo{ position:relative; z-index:1;}
.g-head .logo span{ position:absolute;font-family:\5FAE\8F6F\96C5\9ED1;display:block;}
.g-head .logo-icon{left:10px;top:15px;  background:url(/images/logo-icon.png) no-repeat; width:35px; height:35px;}
.g-head .logo-name{left:60px;top:16px; color:#f2f2f2;font-size: 28px;font-weight: 700; height:35px; line-height:35px;}
.g-head .logo-url{left:155px;top:20px;color:#e4e4e4;font-style: oblique; font-size:11px;}
.g-head .logo-con{left:155px;top:32px;color:#ff9900; font-size:14px; font-weight:bold;}
.g-head .left { height:50px; padding:5px 10px; background:url(/images/head.png) no-repeat; text-align:right; color:#fff; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/head.png', sizingMethod='crop');
_background-image: none;
}
.g-head .left a { color:#fff; }
.g-head .nav{height:31px; position:absolute;bottom:-1px;left:250px;}
.g-head .nav li{float:left; text-align:center;margin-right:10px; display:inline;}
.g-head .nav li a{ display:block;width:101px; height:31px; line-height:34px; background:url(/images/menu.png) no-repeat;color:#F2F2F2; font-size:14px; overflow:hidden;}
.g-head .nav li a:hover{ text-decoration:none;}
.g-head .nav .cur a{background:url(/images/menu_cur.png) no-repeat;color:#006699; font-weight:bold;}
/**/
.g_main { width:100%; border-top:#004B91 solid 1px; overflow:hidden; zoom:1; background:#E1E9EC;}
.g_main .left { width:220px; float:left;_margin-right:-3px; overflow:hidden;}
.g_main .right { margin:34px 10px 0 220px;position:relative;}
.g_main .left, .g_main .right { min-height:400px; _height:400px; }
#container{ background:#fff;border:1px #afd5f5 solid;}
/**/
.g_menu .bar, .g_top { height:34px; overflow:hidden; }
/* menu */
.g_menu { line-height:24px; padding:0 10px;}
.g_menu .bar {padding:0 10px;line-height:34px; cursor:pointer; width:180px;}
.g_menu .bar s{ background-position:0 0; width:15px; height:16px;}
.open_left{ display:none;width:30px;height:100%;float:left;padding:35px 0 0 8px;}
.open_left .open_nav s{background-position:-18px 0; width:22px; height:23px; cursor:pointer;}
.g_menu .bar span{color:#999;padding-left:5px;}
.g_menu .bar b { height:7px; width:7px; overflow:hidden; float:right; background:url(/images/bg.png) 0 -220px; margin-top:12px; }
.g_menu .con {}
.g_menu h3 { background:url(/images/bg.png) 0 -252px no-repeat; padding_left:17px; color:#1E4176; cursor:pointer; }
.g_menu ul b { float:right; width:15px; height:17px; overflow:hidden; background-position:-42px 0; cursor:pointer; margin-right:5px; _display:inline; margin-top:5px; }
.g_menu ul span { cursor:pointer; }
.g_menu ul .cur b{background-position:-60px 0;}
.g_menu .first_ul{border-top:1px #AFD5F5 solid;}
.g_menu ul li.parent{* margin-top:-15px;}
.g_menu ul ul {_left:20px; background:#fff;}
.g_menu ul ul ul{border:1px #AFD5F5 solid; border-top:0;padding:1px;}
.g_menu li li span {height:26px;line-height:26px;*line-height:29px;display: block;overflow:hidden;color: #0099CC; font-weight:bold; background:#F1F1F1; border:1px #AFD5F5 solid; border-top:0;padding-left:10px;}
.g_menu li li li {}
.g_menu li li li a{ display:block;height:24px; line-height:24px; border:1px #fff solid;padding-left:10px;color:#007297;}
.g_menu li li li a:hover{border:1px #AFD5F5 solid; text-decoration:none; background:#F2F2F2;}
/* top */
.g_top {white-space:nowrap; position:absolute;top:-26px;left:18px;}
#forward, #rearward { position:absolute; top:-26px; height:26px; width:15px; overflow:hidden;}
#forward { left:0; }
#rearward { right:0; }
#forward.on { background:url(/images/bg.png) -147px -210px; cursor:pointer; }
#rearward.on { background:url(/images/bg.png) right -210px; cursor:pointer; }
.g_top li, .g_top li a, .g_top li b { height:25px; overflow:hidden; display:inline-block; vertical-align:middle; background:#fff;}
.g_top li { margin-right:2px; padding-right:10px;*display:inline;border:1px #afd5f5 solid;}
.g_top li a { color:#007297; text-decoration:none; padding-left:10px;line-height:26px;cursor:pointer; }
.g_top li b { width:14px; margin-left:5px; background:url(/images/bg.png) -20px -214px; cursor:pointer; }
.g_top li.cur {border-bottom:1px #fff solid;}
.g_top li.cur a { background-position:0 -146px; font-weight:bold; }
.g_top li.cur b { background-position: -40px -214px; }

/* open-layer */
body { _background:url(about:blank) fixed; }
#g_popwin, .g_popwin_mask, .g_popwin_mask iframe, .g_popwin_box { width:100%; height:100%; }
.g_popwin_mask, .g_popwin_box {top:0;left:0; z-index:100;position:fixed; _position:absolute; _top:expression(documentElement.scrollTop + "px");_top:expression(documentElement.scrollTop + "px");}
.g_popwin_mask {background:#000; filter:alpha(opacity=30); opacity: 0.3;}
.g_popwin_mask iframe { filter:alpha(opacity=0); opacity: 0; }
.g_popwin{border:solid 1px #7d9fc6;background-color:#fff;}  
.g_popwin .tit .close{cursor:pointer;background: url("/images/common/popShowClose.png") no-repeat scroll 0 0 transparent; width: 34px; height:17px; position:absolute; top:0px; right:0px;}
.g_popwin .tit b{ width:10px; height:27px; display:block}
.g_popwin .tit{background: url("/images/common/popShow_bg.jpg") repeat-x scroll 0 0 transparent; height:28px; line-height:28px; position:relative;border-bottom:solid 1px #7d9fc6; overflow:hidden}
.g_popwin .tit strong{background:url(/images/pop.gif) no-repeat; display:block; width:220px; height:27px; display:block; padding_left:10px;}
.g_swin{min-height:20px;margin:10px 10px 0;overflow:hidden;_height:20px;_overflow-y:visible}
.g_swin_box{display:none;overflow:hidden;zoom:1;}

#dialog_overlay { width: 100%; height: 100%; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; position: absolute; background: #000; top: 0; left: 0; z-index: 3000; display:none; }
/* smartMenu.css */
.smart_menu_box{display:none; width:140px; position:absolute; z-index:201105;}
.smart_menu_body{padding:1px; border:1px solid #B8CBCB; background-color:#fff; -moz-box-shadow:2px 2px 5px #666; -webkit-box-shadow:2px 2px 5px #666; box-shadow:2px 2px 5px #666;}
.smart_menu_ul{margin:0; padding:0; list-style-type:none;}
.smart_menu_li{position:relative;}
.smart_menu_a{display:block; height:25px; line-height:24px; padding:0 5px 0 25px; color:#000; font-size:12px; text-decoration:none; overflow:hidden;}
.smart_menu_a:hover, .smart_menu_a_hover{background-color:#348CCC; color:#fff; text-decoration:none;}
.smart_menu_li_separate{line-height:0; margin:3px; border-bottom:1px solid #B8CBCB; font-size:0;}
.smart_menu_triangle{width:0; height:0; border:5px dashed transparent; border-left:5px solid #666; overflow:hidden; position:absolute; top:7px; right:5px;}
.smart_menu_a:hover .smart_menu_triangle, .smart_menu_a_hover .smart_menu_triangle{border-left-color:#fff;}
.smart_menu_li_hover .smart_menu_box{top:-1px; left:130px;}
