<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
	
	<!--数据库Sys_Log适配器-->
    <appender name="ADONetMonitorAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="10" />
      <!--这是log信息记录的缓冲大小，(比如只有log信息记录达到10，才会将log信息记录写入数据库) -->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="server=192.168.0.100; User ID=devuser; password=cst-88888; database=WALIUJR_SYS; Max Pool Size=1000; Min Pool Size=1;" />
      <commandText value="INSERT INTO Sys_MonitorLog([Url],[StartTime],[EndTime],[Time],[QueryParams],[RequesHead],[HttpMethod],[IP],[Thread],[Level],[HostName],[HostNameUser]) &#xD;&#xA;  VALUES (@Url,@StartTime,@EndTime,@Time,@QueryParams,@RequesHead,@HttpMethod,@IP,@Thread,@Level,@HostName,@HostNameUser)" />
      <parameter>
        <parameterName value="@Url" />
        <dbType value="String" />
        <size value="256" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{Url}" />
        </layout>
      </parameter>
	  <parameter>
        <parameterName value="@StartTime" />
        <dbType value="DateTime" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{StartTime}" />
        </layout>
      </parameter>
	  <parameter>
        <parameterName value="@EndTime" />
        <dbType value="DateTime" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{EndTime}" />
        </layout>
      </parameter>
	  <parameter>
        <parameterName value="@Time" />
        <dbType value="Double" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{Time}" />
        </layout>
      </parameter>
	  <parameter>
        <parameterName value="@QueryParams" />
        <dbType value="String" />
        <size value="1024" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{QueryParams}" />
        </layout>
      </parameter>
	  <parameter>
        <parameterName value="@RequesHead" />
        <dbType value="String" />
        <size value="512" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{RequesHead}" />
        </layout>
      </parameter>
	  <parameter>
        <parameterName value="@HttpMethod" />
        <dbType value="String" />
        <size value="512" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{HttpMethod}" />
        </layout>
      </parameter>
	  <parameter>
        <parameterName value="@IP" />
        <dbType value="String" />
        <size value="32" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{IP}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <size value="128" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <size value="128" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@HostName" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@HostNameUser" />
        <dbType value="String" />
        <size value="512" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%username" />
        </layout>
      </parameter>
    </appender>
	
    <!--异常文件ExceptionLog_适配器-->
    <appender name="ExceptionAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="1MB" />
	  <param name="Encoding" value="utf-8" />
      <param name="File" type="" value="Logs\ExceptionLog_" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
	  <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 记录类：%logger 操作者ID：%property{Operator} 操作类型：%property{Action}%n当前机器名:%property%n当前机器名及登录用户：%username %n记录位置：%location%n消息描述：%property{Message}%n异常：%exception%n消息：%message%newline%n%n" />
      </layout>
    </appender>

    <!--系统文件SystemLog_适配器-->
    <appender name="SystemAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="1MB" />
	  <param name="Encoding" value="utf-8" />
      <param name="File" type="" value="Logs\SystemLog_" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
	  <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 记录类：%logger 操作者ID：%property{Operator} 操作类型：%property{Action}%n当前机器名:%property%n当前机器名及登录用户：%username %n记录位置：%location%n消息描述：%property{Message}%n异常：%exception%n消息：%message%newline%n%n" />
      </layout>
    </appender>

	<!--缓存文件RedisLog_适配器-->
    <appender name="RedisAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="1MB" />
	  <param name="Encoding" value="utf-8" />
      <param name="File" type="" value="Logs\RedisLog_" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
	  <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 记录类：%logger 操作者ID：%property{Operator} 操作类型：%property{Action}%n当前机器名:%property%n当前机器名及登录用户：%username %n记录位置：%location%n消息描述：%property{Message}%n异常：%exception%n消息：%message%newline%n%n" />
      </layout>
    </appender>

<!--数据库Sys_Log适配器-->
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="10" />
      <!--这是log信息记录的缓冲大小，(比如只有log信息记录达到10，才会将log信息记录写入数据库) -->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="server=192.168.0.100; User ID=devuser; password=88888; database=dbtest; Max Pool Size=1000; Min Pool Size=1;" />
      <commandText value="INSERT INTO Sys_Log([UserID],[SubSysID],[SubSysName],[IP],[Url],[Thread],[Level],[Logger],[Message],[LogType],[Exception]) &#xD;&#xA;  VALUES (@UserID,@SubSysID,@SubSysName,@IP,@Url,@Thread,@Level,@Logger,@Message,@LogType,@Exception)" />
      <parameter>
        <parameterName value="@UserID" />
        <dbType value="Int32" />
        <size value="4" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{UserID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@SubSysID" />
        <dbType value="Int32" />
        <size value="4" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{SubSysID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@SubSysName" />
        <dbType value="String" />
        <size value="256" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{SubSysName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@IP" />
        <dbType value="String" />
        <size value="32" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{IP}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Url" />
        <dbType value="String" />
        <size value="256" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{Url}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <size value="128" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <size value="128" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="2048" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{Message}" />
        </layout>
      </parameter>
      
      <parameter>
        <parameterName value="@LogType" />
        <dbType value="Int32" />
        <size value="4" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{LogType}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="2048" />
        <layout type="TYSystem.BaseFramework.Common.Log.LogMsgLayout">
          <conversionPattern value="%property{Exception}" />
        </layout>
      </parameter>
    </appender>

   

	<!--API监控日志使用-->
    <logger name="ApiMonitorLogger">
      <level value="ALL" />
      <appender-ref ref="ADONetMonitorAppender" />
    </logger>
	
    <!--程序异常日志记录器-->
    <logger name="ExceptionLogger">
      <level value="ALL" />
      <appender-ref ref="ExceptionAppender" />
    </logger>
    
    <!--系统日志记录器-->
    <logger name="SystemLogger">
      <level value="ALL" />
      <appender-ref ref="SystemAppender" />
    </logger>
    
	<!--缓存操作失败日志-->
    <logger name="RedisLogger">
      <level value="ALL" />
      <appender-ref ref="RedisAppender" />
    </logger>

    <!--基础服务使用-->
    <logger name="WaLiuBasicServiceLogger">
      <level value="ALL" />
      <appender-ref ref="ADONetAppender" />
    </logger>
    
    
  </log4net>
</configuration>