<?xml version="1.0" encoding="utf-8"?>
<RedisEntityConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RedisConnectionString>192.168.0.102:6379,allowadmin=true</RedisConnectionString>
  <RedisConnectionPwd>redis123</RedisConnectionPwd>
  <RedisPrefixKey></RedisPrefixKey>
</RedisEntityConfig>