.count-wrap{margin: 0 auto;height: 26px;width: 82px;}
.count-reduce{display: block;width: 16px;height: 24px;line-height: 24px;float: left;text-align: center;border: 1px solid #ddd;cursor: pointer;}
.count-add{display: block;width: 16px;height: 24px;line-height: 24px;float: left;text-align: center;border: 1px solid #ddd;cursor: pointer;}
.count-num{display: block;min-width: 35px;height: 24px;line-height: 24px;float: left;text-align: center;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.count-num input{border: none;height: 24px;width: 40px;text-align: center;}

#tbResultSupplier li,#tbResultSpec li{border:1px solid #ccc; height:24px; margin:1px; line-height:24px; padding:0 3px;}